/*
#FFB400 - yellow
#FBFBFB - White
#2994B2 - teal
#474744 - grey
*/

/*
@font-face {
font-family: Cicle;
src: url(src/fonts/Cicle/Cicle_Shadow.ttf);
}
*/

body {
  background-color: #FBFBFB;
}


.nav {
  background-color: #2994B2;
  padding: 15px;
  text-align: center;
}

.nav li {
  font-family: Cicle, sans-serif;
  list-style-type: none;
  color: #FBFBFB;
  margin: 0px;
  padding: 30px;
  display: inline;

}

li.selected {
  text-decoration: underline;
  color: #FFB400;
}
